<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-2"><h3>Posts</h3></div>
        <div class="col-xs-10">
          <button class="btn btn-primary pull-right" [routerLink]="['createPost']" style="margin-top: 20px">Create Post</button>
        </div>
    </div>
    <hr>
    
  <div *ngFor="let key of _.keys(postsList)" class="alert alert-info" role="alert">
      <h4 class="alert-heading">
        <a style="cursor:pointer" (click)="viewPost(postsList[key].id)">{{postsList[key].title}}</a>
      </h4>
      <h5>Category: {{postsList[key].categories}}</h5>
      <hr>
      <p>{{postsList[key].content}}</p>
    
    </div>

</div>
